<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<title> Update Coaching Form Page</title>
</head>

<body>
	<nav class="navbar">
		<h4 id="dashboard"> Dashboard </h4>
		<div class="profile">
			 <img class="profile-image" th:src="@{assets/logo1.png}">
			<p id="profile-name"> Coach Profile </p>
		</div>
	</nav>

		
		<input type="checkbox" id="toggle">
		<label id="side-toggle" for="toggle">
			<span class="fas fa-bars"></span>
		</label>
		
		<div id="sidebar">
			
			<a th:href="@{/home}" id="sidebar-menu">
				<span class="fa fa-home">
				</span>
					<p>Home</p>
			</a>
			
			<div id="sidebar-menu-active">
				<span class="fas fa-file-alt">
				</span>
					<p>Coaching Form</p>
			</div>
			
			<div id="sidebar-menu">
				<span class="fa fa-user">
				</span>
					<p>Profile</p>
			</div>	
			
			<div id="sidebar-menu">
				<span class="fas fa-cog">
				</span>
					<p>Logout</p>
			</div>	
		</div>
		
		<main>
			<div class="dashboard-container">
				<div class="box">
					<a th:href="@{/home}" class="text-end"><p><span class="fas fa-arrow-left"></span> Back to Forms page</p></a>
					<h4 id="title">UPDATE COACHING FORM PROGRESS</h4>
					<br>
					<form th:action="@{/coach-form/update}" method="post" th:object="${coachform}" enctype="multipart/form-data">
						<h6> Action Plan <span class="description"><em>(What actions should be taken to achieve the goals?)</em></span></h6>
						<textarea th:field = "*{coachAction}" name="action" class="topic" readonly></textarea><br>
						
						<input th:field = "*{coachAction}" type="text" name="addaction" class="topic" id="addaction" style="display:none; visibility:hidden;" />
						<!-- <h6>Progress Report <span class="description"><em>(What actions should be taken to achieve these goals?)</em></span></h6>
						<textarea th:field = "*{empProgress}" name="topic" class="topic"></textarea>

						<h6>Evidence <span class="description"><em>(Attact the evidence here.)</em></span></h6>
						<div class="text-center" id="topic">
							<input type="file" th:field = "*{coachEvidence}" name="file" class="topic2"/><br>
						</div> -->
						<button id="progbutton" type="button" name="append-action" onclick="showInput()"><span class="fa fa-plus">
						</span>ADD ACTION PLAN</button>
						<button id="subbutton" type="submit" name="submit" onclick="hideInput()">SUBMIT</button>
						<button id="subbutton" type="button" name="cancel" onclick="hideInput()">CANCEL</button><br>
						<a class="text-end" id="arrow-right"><span class="fa fa-arrow-right">
						</span> PROCCEED TO PROGRESS PAGE</a>
					</form>
				</div>
			</div>
		</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script>
		function showInput(){
			document.getElementById("addaction").style.display = "block";
			document.getElementById("addaction").style.visibility = "visible";
		}
		function hideInput(){
			document.getElementById("addaction").style.display = "none";
			document.getElementById("addaction").style.visibility = "hidden";
		}
	</script>
</body>
</html>
