<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/c favicon-16x16.png">
	<title> Update Action Plan Page</title>
</head>

<body>
	<nav class="navbar">
		<h4 id="dashboard"> Dashboard </h4>
		<div class="profile">
			 <img class="profile-image" th:src="@{/assets/logo1.png}">
			<p id="profile-name"> Coach Profile </p>
		</div>
	</nav>
		<input type="checkbox" id="toggle">
		<label id="side-toggle" for="toggle">
			<span class="fas fa-bars"></span>
		</label>
		
		<div id="sidebar">
			
			<a th:href="@{/coach/coach-forms}" id="sidebar-menu-active">
                <span class="fa fa-home">
                </span>
                    <p>Home</p>
            </a>
			
			<a th:href="@{/coach/coach-form}" id="sidebar-menu">
				<span class="fas fa-file-alt">
				</span>
					<p>Coaching Form</p>
			</a>
			
			<a th:href="@{/coach/profile}" id="sidebar-menu">
				<span class="fa fa-user">
				</span>
					<p>Profile</p>
			</a>	
			
			<div id="sidebar-menu" data-bs-toggle="modal" href="#logoutModal">
				<span class="fas fa-cog">
				</span>
					<p>Logout</p>
			</div>	
		</div>
		
		<main>
			<!-- Logout Modal -->
            <div class="modal fade" id="logoutModal" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/logout}" method="post" th:object="${user}" enctype="multipart/form-data">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:black">Logout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="color:black">
                        Are you sure you want to logout?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: white; background: rgb(201, 48, 48); border-style: none">No</button>
                        <button type="submit" class="btn btn-primary" style="color: white; background: rgb(72, 204, 72); border-style: none">Yes, I do</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
			<div class="dashboard-container" style="position: fixed; max-height: 500px;">
				<div class="box">
					<h4 id="title">UPDATE ACTION PLAN</h4>
					<br>
					<a th:href="@{/coach/coach-forms}" class="text-end"><p><span class="fas fa-arrow-left"></span> Back to Forms page</p></a>
					<form th:action="@{/coach/update/coach-form}" method="post" th:object="${coachform}" enctype="multipart/form-data">
						<h6> Action Plan <span class="description"><em>(What actions should be taken to achieve the goals?)</em></span></h6>
						<input type="hidden" th:field ="*{id}">
						<textarea th:field = "*{actionPlan}" name="action" id="actionPlan" class="topic" readonly></textarea>
						<div class="text-start">
							<button id="actbutton" class="text-left" type="button" name="append-action" onclick="showInput()"><span class="fa fa-plus">
							</span> UPDATE ACTION PLAN</button>
						</div>
						<div class="d-flex justifsy-content-center" style="position: relative; margin: auto; padding-left: 280px; padding-right: 280px; top: 20px;">
							<button id="canbutton" type="button" name="cancel" onclick="hideInput()" style="display:none; visibility:hidden;">CANCEL</button>
							<button id="probutton" type="submit" name="submit" onclick="hideInput()" style="display:none; visibility:hidden;">SUBMIT</button>
						</div><br><br>
						<table class="table table-striped table-hover">
                            <thead>
								<tr>
									<th class="col">Action Plan</th>
									<th class="col">Progress Report</th>
									<th class="col">Date Created</th>
									<th class="col">Evidence</th>
									<th class="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="progress:${coachform.progress}">
									<td th:text="${progress.actionPlan}" class="text-start" style="white-space: pre;"></td>
									<td th:text="${progress.progressUpdate}" class="text-start" style="white-space: pre;"></td>
									<td th:text="${progress.creationDate}"></td>
									<td>
										<button type="button" id="view"><a id="viewtext" target="_blank" th:href="@{/coach/documents/progress/}+${progress.id}">View</a></button>
									</td>
									<td>
										<button type="button" id="update"><a th:href="@{/coach/update/progress/?id=}+${progress.id}"  id="updatetext"><span class="fa fa-pencil"></span></a></button>
									</td>
								</tr>
                            </tbody>
                        </table><br>
						<div class="text-center" style="position: relative; margin: auto; top: 80px;">
							<a th:href="@{/coach/add/progress?id=} + ${coachform.id}" id ="arrow-right"><span class="fa fa-arrow-right"></span> PROCEED TO PROGRESS PAGE</a>
						</div>
					</form>
				</div>
			</div>
		</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script>
		function showInput(){
			document.getElementById("probutton").style.display = "block";
			document.getElementById("probutton").style.visibility = "visible";
			document.getElementById("canbutton").style.display = "block";
			document.getElementById("canbutton").style.visibility = "visible";
			document.getElementById("actbutton").style.display = "none";
			document.getElementById("actbutton").style.visibility = "hidden";
			document.getElementById("actionPlan").readOnly = false;
			document.getElementById("actionPlan").required = true;
		}
		function hideInput(){
			document.getElementById("probutton").style.display = "none";
			document.getElementById("probutton").style.visibility = "hidden";
			document.getElementById("canbutton").style.display = "none";
			document.getElementById("canbutton").style.visibility = "hidden";
			document.getElementById("actbutton").style.display = "block";
			document.getElementById("actbutton").style.visibility = "visible";
			document.getElementById("actionPlan").readOnly = true;
			document.getElementById("actionPlan").required = false;
		}
	</script>
	<!-- <script>
		$( document ).ready(function() {
			$('#action').css({'white-space': 'pre'});
			$('#progress').css({'white-space': 'pre'});
		});
	</script> -->
</body>
</html>
