<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{css/admin.css}">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

	<title th:utext=""${title}> Coaching App</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	
	<script type="text/javascript">
		$(document).ready(function(){
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();
		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function(){
		if(this.checked){
		checkbox.each(function(){
		this.checked = true;
		});
		} else{
		checkbox.each(function(){
		this.checked = false;
		});
		}
		});
		checkbox.click(function(){
		if(!this.checked){
		$("#selectAll").prop("checked", false);
		}
		});
		});
	</script>

</head>

<body>
	<nav class="navbar">
		<div class="dash">
			<h4> Dashboard </h4>
		</div>
		
		<div class="profile">
			<img class="profile-image" th:src="@{assets/logo1.png}">
			<p class="profile-name"> Admin Profile </p>
		</div>
		
	</nav>

		
		
		</main>
	
</body>
</html>